extend includes/base/head
block head
    main.wrapper.wrapper_not-front
        .wrapper__content
            include includes/base/header.pug
            .wrapper__middle
                include includes/base/navigation.pug
                .container-fluid
                    .breadcrumbs
                        a.breadcrumbs__link.breadcrumbs__link_home(href="home.html") Home
                        span.breadcrumbs__sep /
                        span.breadcrumbs__this Articles
                    .page__title My Account
                    .account__teacher
                        .account__header
                            span Personal information
                        .account__teacher__content
                            .account__teacher__wrap
                                table.base-table
                                    thead
                                        tr
                                            th.base-table__id ID
                                            th.base-table__name Course name
                                            th.base-table__sections.base-table__asc Sections
                                            th.base-table__lesson Lessons
                                            th.base-table__points Points
                                            th.base-table__date Register date
                                            th.base-table__Status Status
                                            th.base-table__date Pass date
                                            th.base-table__rating.base-table__asc Rating
                                            th.base-table__current
                                    tbody
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                                a(href='#') Course 1
                                            td.base-table__sections.base-table__asc 1
                                            td.base-table__lesson 25
                                            td.base-table__points 29/55
                                            td.base-table__date
                                                a(href='#') 12 nov 2017
                                            td.base-table__Status
                                                a(href='#') Level 1
                                            td.base-table__date
                                                a(href='#') 12 nov 2017
                                            td.base-table__rating.base-table__asc
                                                a(href='#') Exellent
                                                .hidden_open_block
                                                    span.close
                                                        img(src='../images/canc.png')
                                                    .hidden_open_block_top
                                                        span №
                                                        ul.hidden_open_block_top_nav
                                                            li
                                                                a(href='#') 1
                                                            li
                                                                a(href='#') 2
                                                            li
                                                                a(href='#') 3
                                                            li
                                                                a(href='#') 4
                                                            li
                                                                a(href='#') 1
                                                            li
                                                                a(href='#') 1
                                                            li
                                                                a(href='#') 1
                                                            li
                                                                a(href='#') 1
                                            td.base-table__current =
                                        tr
                                            td.base-table__id 1
                                            td.base-table__nam
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current
                                        tr
                                            td.base-table__id 1
                                            td.base-table__name
                                            td.base-table__sections.base-table__asc
                                            td.base-table__lesson
                                            td.base-table__points
                                            td.base-table__date
                                            td.base-table__Status
                                            td.base-table__date
                                            td.base-table__rating.base-table__asc
                                            td.base-table__current

        include includes/base/footer.pug